APP_TITLE=beresnev_tz4
APP_DESCRIPTION="test task from Beresnev K.E."
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
SECRET=SECRET
FIRST_SUPERUSER_EMAIL=user@example.com
FIRST_SUPERUSER_PASSWORD=SUPERUSER_PASSWORD
